extends layout
block content
  p Welcome to GOP
  
  







  //- p  #{msg}

  //- p #{values}

  //- -each val in values
  //-   p -----------------------
  //-   -each v, index in val 
  //-       p #{index + ': ' + val[index]}


