extends layout
block content

  h1 GOPs!!! 
  div
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/1.mp4")
  div 
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/4.mp4")
  div
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/7.mp4")
  div 
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/10.mp4")
  div
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/13.mp4")
  div 
    video(type="video/mp4" controls src="http://localhost:3000/videos/CoolVideo.mp4/group-of-pictures/17.mp4")